.category-tab {
  margin-top: 50px;
  
  .tabs a {
    font-size: 20px;
    font-weight: 500;
    color: #0b3e4f;
    opacity: 0.5;
    letter-spacing: 0.17px;
    text-transform: uppercase;
    border-bottom-color: #073b4c;
    border-bottom-width: 1.5px;
    padding: 0 60px;
    padding-bottom: 20px;
  }

  .tabs li.is-active a {
    color: #0b3e4f;
    opacity: 1;
    border-bottom-color: #ef476f;
    border-width: 4px;
  }

  .tabs ul {
    border-bottom: none;
  }
}