.visualization {
  &__sub-title {
    color: #0a3b4c !important;
    font-weight: 500;
  }
}

.in-kind {
  &__item-title {
    font-size: 20px;
    font-weight: 500;
    color: #0a3b4c;
    margin-top: 15px;

    span {
      display: block;
    }
  }

  &__item-img {
    max-width: 150px;
    height: 84px;
  }
}

.in-kind-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}