.header {
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 38px;

  &__logo {
    width: 97px;
    height: auto;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.26px;
    color: #073b4c;
    margin: 0 auto;
  }

  &__total-aid {
    color: #073b4c;
    font-size: 26px;
    font-weight: 500;
    line-height: 0.82;
    letter-spacing: 0.34px;
  }

  &__total-aid-value {
    font-size: 26px;
    font-weight: 500;
    line-height: 0.82;
    letter-spacing: 0.34px;
    color: #ef476f;
  }

  &__vertical-line {
    width: 1px;
    height: 100px;
    opacity: 0.2;
    border: solid 1px #073b4c;
    background-color: #073b4c;
    border-radius: 1px;
  }

  &__cases {
    max-width: 90px;
    font-size: 14px;
    line-height: 1.25;
    color: #073b4c;
    font-weight: bold;
    word-break: keep-all;
  }

  &__cases-value {
    font-size: 29px;
    font-weight: 500;
    letter-spacing: 0.26px;
    color: #ef476f;

    &--success {
      color: #06d6a0;
    }
  }
}
