.visualization {
  &__title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.17px;
    color: #073b4c;
  }

  &__sub-title {
    font-size: 14px;
    color: #089b74;
    font-weight: 400;
  }

  &__disbursed {
    color: #089b74;
    font-weight: 500;
    font-size: 26px;
  }

  &__tab-content {
    background-color: #ecf9fd;
    height: 100vh;
    padding: 10px;
  }
}
